* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*settings for the word Horiseon*/
h1 {
    display: inline-block;
    font-size: 48px;
}

/*changes color for the seo in horiseon*/
.seo {
    color: #d9dcd6;
}

/*settings for the 3 links at top of page*/
nav {
    padding: 2% 0;
    margin-right: 2%;
    float: right;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: #2a607c;
}

/*orders the nav list in a single line*/
li {
    display: inline-block;
    margin-left: 25px;
}

/*eliminates link look to nav header*/
a {
    color: #ffffff; 
    text-decoration: none;
}

/*sets size for main image on page*/
#hero {
    height: auto;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/*makes main content boxes for 75% of the width of the  page*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*sets up boxes for main content on page*/
article {
    margin-bottom: 20px;
    padding: 50px;
    min-height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

article img {
    max-height: 200px;
}

/*to put pictures to the left of the paragraph*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*to put pictures on the right of the paragraph*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*settings for subheadings in the main part that get linked to*/
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*sets font size for all non-header text*/
p {
    font-size: 16px;
}

/*sets up the right side area*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*sets font color for right side area*/
.example {
    margin-bottom: 32px;
    color: #ffffff;
}

/*header settings for right side area*/
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*setting for pictures above each paragraph on right side of area*/
.example img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*settings for first line of footer*/
#made-by{
    font-size: 20px;
    font-weight:bold;
}
