* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans', 'sans-serif';
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

/*changes color for the seo in horiseon*/
header h1 .seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

/*orders the nav list in a single line*/
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*eliminates link look to nav header*/
a {
    color: #ffffff; 
    text-decoration: none;
}

/*sets font size for all non-header text*/
p {
    font-size: 16px;
}

/*sets size for main image on page*/
#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/*makes main content boxes for 75% of the width of the  page*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*sets up boxes for main content on page*/
article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;
}

article img {
    max-height: 200px;
}

article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*to put pictures to the left of the paragraph*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*to put pictures on the right of the paragraph*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*sets up the right side area*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

/*sets font color for right side area*/
.example {
    margin-bottom: 32px;
    color: #ffffff;
}

.example h3 {
    margin-bottom: 10px;
    text-align: center;
}

.example img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

